<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 container-show">
    <div class="show-frame">
      <%= image_tag @post.foto.url, class: "images-small-circle-size" %>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 container-show">
    <div>
      <h1><%= @post.title %></h1>
    </div>
    <div>
      <p><%= @post.description %></p>
    </div>
  </div>
</div>