@import url('https://fonts.googleapis.com/css?family=Sansita');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "structural/home_page";
@import 'gritter';
@import "structural/post_show";
@import "admin-lte/AdminLTE.min";
@import "font-awesome";
@import "structural/landing_page";
@import "structural/icon";

#body-font{
  font-family: 'Sansita', sans-serif;
}
.gritter-image.bang {
  margin-left: 15px;
  width: 12px;
}
#category-submit-center{
background-color: greenyellow;
}
.button-display-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}