<%if user_signed_in?%>
    <div class="container">
      <h1>Створити категорію!</h1>
      <%= simple_form_for(@category,url: {action: :create}, class: 'form-horizontal') do |f|%>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <%= f.input :title %>
              </div>
            </div>
          </div>
          <div class="col">
            <%= f.button :submit %>
          </div>
      <% end %>
    </div>
<% end %>